@import url(__title/feynman__title.css);
@import url(__subtitle/feynman__subtitle.css);
@import url(__link/feynman__link.css);
@import url(__portait/feynman__portait.css);

.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  min-height: 890px;
  background-color: #f2f2f2;
}
